@model UniCareERP.Application.DTOs.Radiology.RadiologyOrderDto

@{
    ViewData["Title"] = "Create Radiology Order";
}

<h1>Create Radiology Order</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="@(new SelectList(ViewBag.Patients, "Id", "FirstName"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="TestTypeId" class="control-label"></label>
                <select asp-for="TestTypeId" class="form-control" asp-items="@(new SelectList(ViewBag.TestTypes, "Id", "Name"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
