@model UniCareERP.Application.DTOs.OperationTheatre.CreateSurgicalProcedureDto

@{
    ViewData["Title"] = "Create Surgical Procedure";
}

<h1>Create Surgical Procedure</h1>

<h4>SurgicalProcedure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSurgicalProcedure">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredEquipment" class="control-label"></label>
                <input asp-for="RequiredEquipment" class="form-control" />
                <span asp-validation-for="RequiredEquipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationMinutes" class="control-label"></label>
                <input asp-for="DurationMinutes" class="form-control" />
                <span asp-validation-for="DurationMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SurgicalProcedures">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
