@model UniCareERP.Application.DTOs.Finance.CreateOtherExpenseDto

@{
    ViewData["Title"] = "Record New Expense";
}

<h1>Record New Expense</h1>

<h4>Other Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseDate" class="control-label"></label>
                <input asp-for="ExpenseDate" class="form-control" />
                <span asp-validation-for="ExpenseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneralLedgerAccountId" class="control-label">Debit Account</label>
                <select asp-for="GeneralLedgerAccountId" class="form-control" asp-items="ViewBag.GeneralLedgerAccounts"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreditAccountId" class="control-label">Credit Account</label>
                <select asp-for="CreditAccountId" class="form-control" asp-items="ViewBag.GeneralLedgerAccounts"></select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
